[Unit]
Description=Daily KolibriOS image update

[Timer]
OnCalendar=*-*-* 04:30
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
